#StoryTypeToggle {
  width: 300px;
  text-align: center;
  margin: auto;
  padding: 14px 0 18px 0;
}

.story-type-toggle {
  display: inline-block;
  text-align: center;
  padding: 8px;
  border: 1px solid #4f7dc9;
  background-color: #fff;
  color: #4f7dc9;
  cursor: pointer;
}

#story-type-toggle-feed {
  border-radius: 6px 0 0 6px;
}

#story-type-toggle-saved {
  border-radius: 0 6px 6px 0;
}

.story-type-toggle-selected {
  background-color: #4f7dc9;
  color: #fff;
  cursor: default;
}

.story-type-toggle:last-child {
  border-left: 0;
}
